h1 { font-size: 35.5px !important; margin-top: 0px; padding-top: 0px; }
a, a:visited { color: rgb(79, 132, 231) !important; text-decoration: none; }
body { margin-top: 40px !important; font-family: Helvetica, serif; font-size: 12pt; color: #444; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; }
pre, code { font-size: 10pt; }
.span2 { text-align: center !important; }
#logo { margin-bottom: 20px; }
#nav { margin-bottom: 15px; margin-right: auto; margin-left: auto; }
.post-entry { position:relative; padding-bottom: 5px; }
.post-entry-date { margin-right: 20px; font-size: 9pt; color: #999; }
.post-entry-title { position: absolute; left: 90px; }
.thumb { display: block; margin: 0 auto; border: 3px solid #eee; border-radius: 10px; margin-bottom: 20px; }
.avatar { border-radius: 100%; }
a:hover { color: rgb(78, 110, 131); }
.date { color: #aaa; }
#misc img { opacity: 0.5; }
#intro { margin-bottom: 20px; color: #666; font-style: italic; }
blockquote p { font-size: 14px !important; }
#wrapper { width: 1024px; margin: 20px auto; }
#sidebar { width: 20%; float: left; text-align: center; }
#content { width: 78%; float: right; padding: 0 10px; margin-bottom: 50px; }
.author { margin: 10px 0 0 0; }