---

---
{% include JB/setup %}

<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="utf-8">
		<title>Max Mackie</title>
		{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="{{ site.author.name }}">

		<!-- IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- styles -->
		<base href="http://maxmackie.github.com">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/highlight.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

		<!-- iphone/ipad icons -->
		<link rel="shortcut icon" href="img/favicon.png">
		<link rel="apple-touch-icon" sizes="32x32" href="img/favicon.png">

		<!-- give me the query! -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	</head>
	<body class="container">
		<div class="row-fluid">
		<div class="span2 offset2">
			<div id="logo">
				<a href="/">
					<img class="avatar" src="http://www.gravatar.com/avatar/2ca46d1393e0337704ce3b91b1c0645a?s=128" />
				</a>
			</div>
			<div id="nav">
				<a href="projects.html">Projects</a>&nbsp;&nbsp;
				<a href="about.html">About</a>
			</div>
			<div id="misc">
				<a href="http://twitter.com/maxmackie"><img src="img/twitter-32-black.png"></a>
				<a href="http://github.com/maxmackie"><img src="img/github-32-black.png"></a>
				<a href="http://stackexchange.com/users/310807/maxmackie?tab=accounts"><img src="img/stackexchange-32-black.png"></a>
				<a href="http://news.ycombinator.com/user?id=darxius"><img src="img/hackernews-32-black.png"></a>
			</div>
		</div>
		<div class="span6">			
		  <h1> 404 </h1>
      <p> Looks like there's nothing here. </p>
		</div>
		</div>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	</body>
</html>

