body {
	font-family: 'Carme', sans-serif;
	background-color: #FAFAFA;
	color: #686868;
}

a { color: #686868; text-decoration: none;}
a:hover { color: #20B2AA; text-decoration: none;}

#main-block {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 10px 5px 5px 10px;
}

#links {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#links td {
    text-align: center;
}

.button {
    width: 70px;
    height: 16px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #5e5e5e;
	padding: 9px 20px;
    border: 1px solid #868686;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#d6d6d6));
    
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,1);
}

.button:hover {
    color: #20B2AA;	
    cursor: pointer;
}

.image {
    border: 2px solid #989898;
    border-radius: 5px;
    -moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,1);
}

#sliding-blocks {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.icon {
    margin-right: 5px;
    vertical-align: middle;
}

.block {
    height: 0px;
    display: none;
    text-align: center;
}

.desc {
    font-size: 12px;
    text-align: justify;
}