/* 
    Document   : style
    Created on : Mar 5, 2012, 10:50:01 PM
    Author     : max
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { display: block; }
a, a:visited { 
    color: #9bc9c7;
    text-decoration: none;
}

a:hover {
    color: #C99C9E;
}

body { 
    background-color: #FFFFFF; 
    font-family: 'Droid Sans', sans-serif; 
    font-size: 14px;
    color: #424242;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    margin-top: 0px;
    background: url(img/border.png) repeat-x bottom left;
    padding-bottom: 2px;
    /*border-bottom: 1px solid #efefef;
    width: 90%;*/
}

#right-side {
    float: left;
    width: 60%;
    margin: 5px 0;
    padding: 0 5px;
}

#left-side {
    float: left;
    width: 20%;
    margin: 10px 0;
    padding: 0 10px;
    text-align: right;
}

#profile {
    text-align: right;
    margin-bottom: 5px;
}

#avatar {
    border: 2px solid #ffffff;
    box-shadow: 0 0 0 2px #9bc9c7;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: 80px;
    width: 80px;
}

#links {
    font-size: 12px;
}

#blog {
    border: 2px solid #ffffff;
    margin: 0 auto;
    width: 95%;
    height: 30px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0 0 0 2px #9bc9c7;
    background-color: #9bc9c7;
    color: #ffffff;
    text-transform: uppercase;
}

#blog:hover {
    background-color: #C99C9E;
    box-shadow: 0 0 0 2px #C99C9E;
}

#footer {
    font-size: 10px;
    margin: 40px 0;
    text-align: center;
}