---

---
{% include JB/setup %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Max Mackie</title>
		{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="{{ site.author.name }}">

		<!-- IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- styles -->
		<link href="css/style.css" rel="stylesheet">
		<link href="css/highlight.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

		<!-- iphone/ipad icons -->
		<link rel="shortcut icon" href="img/favicon.png">
		<link rel="apple-touch-icon" sizes="32x32" href="img/favicon.png">
	</head>
	<body id="wrapper">
		<div id="sidebar">
			<div id="logo">
				<a href="/">
					<img class="avatar" src="http://secure.gravatar.com/avatar/2ca46d1393e0337704ce3b91b1c0645a?s=128" />
				</a>
			</div>
			<div id="nav">
				<a href="projects.html">Projects</a>&nbsp;&nbsp;
				<a href="about.html">About</a>
			</div>
			<div id="misc">
				<a href="http://twitter.com/maxmackie"><img src="img/twitter-32-black.png"></a>
				<a href="http://github.com/maxmackie"><img src="img/github-32-black.png"></a>
				<a href="http://stackexchange.com/users/310807/maxmackie?tab=accounts"><img src="img/stackexchange-32-black.png"></a>
				<a href="http://news.ycombinator.com/user?id=darxius"><img src="img/hackernews-32-black.png"></a>
			</div>
		</div>
		<div id="content">
			<h1> Hello, world. </h1>
			
			<div id="intro">
				My name is Max Mackie. I'm a computer engineering student at the University of
				Ottawa and a web developer currently working at the Bank of Canada. 
			</div>

			{% for post in site.posts limit:50 %}
  				<div class="post-entry">
  					<span class="post-entry-date">{{ post.date | date_to_string }}</span>
  					<span class="post-entry-title"><a href="{{ post.url }}">{{ post.title }}</a></span>
				</div>
			{% endfor %}
		</div>

		<!-- Start of Woopra Code -->
		<script type="text/javascript">
			function woopraReady(tracker) {
			    tracker.setDomain('maxmackie.com');
			    tracker.setIdleTimeout(60000);
			    tracker.track();
			    return false;
			}
			(function() {
			    var wsc = document.createElement('script');
			    wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
			    wsc.type = 'text/javascript';
			    wsc.async = true;
			    var ssc = document.getElementsByTagName('script')[0];
			    ssc.parentNode.insertBefore(wsc, ssc);
			})();
		</script>
		<!-- End of Woopra Code -->
	</body>
</html>
