<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
		<meta name="author" content="{{ site.author.name }}">

		<!-- IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- styles -->
		<base href="http://maxmackie.github.com">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/highlight.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

		<!-- iphone/ipad icons -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	</head>

	<body>
		<div id="left-side">
			<div id="top-content"></div>
			<div class="profile">
				<img id="avatar" src="http://www.gravatar.com/avatar/2ca46d1393e0337704ce3b91b1c0645a?s=80"/>
			</div>
			<div id="links">
				<p>
					<a href="/">Home</a> &nbsp;&nbsp;
					<a href="http://github.com/maxmackie">Github</a> &nbsp;&nbsp;
					<a href="http://stackexchange.com/users/310807/maxmackie">StackExchange</a> &nbsp;&nbsp;
					<a href="about.html">About</a>
				</p>

				<p>Hello, my name is <b>{{ site.author.name }}</b>.
				I'm currently a web code wrangler at the Bank of Canada (in Ottawa)</p>

				<h2>Recent Posts</h2>
				<p>
					{% for post in site.posts limit:10 %}
					<span class="post-link"><a href="{{ post.url }}">{{ post.title }}</a></span>
					{% endfor %}
				</p>
			</div>
		</div>

		<div id="right-side">

			{{ content }}

			<div id="footer">
				<p>	
					&copy; {{ site.author.name }} 2012 with help from 
					<a href="http://jekyllbootstrap.com" target="_blank">Jekyll Bootstrap</a>
				</p>
			</div>
		</div>

		{% include JB/analytics %}
	</body>
</html>
